* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 8px 80px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content .sign_container {
    flex: 0 0 auto;
    width: 200px;
}

.content #image1 {
    flex: 0 0 auto;
    height: auto;
    width: 250px;
    padding-left: 8px;

}

.boton {
    border-radius: 5px;
    border: 0;
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    color: #f9faf8;
    font-weight: 600;
    text-align: center;
}

.sign_container {
    flex: 1 0 auto;
    width: 500px;
}

.header {
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 100px;
    font-size: 24px;
    flex: auto;
}

.content .title {
    font-size: 48px;
    font-weight: 1000;
}

#text1 {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.header .links {
    justify-self: end;
    list-style-type: none;
    width: 350px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.header .links li {
    flex: 0 0 auto;
}

.container2 {
    flex: 1 1 0;
    padding: 40px 100px;
}

.container2 .title {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    padding-bottom: 40px;
}

.container2 .images {
    display: flex;
    gap: 30px;
    text-align: center;
}

.container2 .square{
    flex: 1 1 0;
    border-style: solid;
    border-width: thick;
    border-color: #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.container3 {
    background-color: #e5e7eb;
    flex: 1 1 0;
    padding: 100px 200px;
}

.container3 .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.container3 .signature {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
}

.container4 {
    flex: 1 1 auto;
    margin: 100px;
    background-color: #3882f6;
    padding: 40px 100px; 
    border-radius: 10px;
    color:#f9faf8;
    display: flex;
    flex-direction: column;
}

.container4 .desc {
    display: flex;
    justify-content: space-between;
}

.container4 .title {
    font-size: 24px;
    font-weight: bold;
    flex: 1 1 0;
}

.container4 .boton {
    border-style: solid;
    border-width: 2px;
    padding-bottom: 2px;
}

#footer {
    flex: 0 0 auto;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 40px;
}